{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    welcome to Speakout
{% endblock  %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Success</strong>{{message}}
</div>
{% endfor %}
{% endif %}
<div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              <!-- post -->
              {% for post in posts %}
              <div class="post col-xl-6">
                {% if post.post_image is not null %}
                    <img src="{{post.post_image.url}}" alt="..." width="100%" height="300px">
                {% endif %}
                
                
                
                  <div class="post-details">
                    <div class="post-meta d-flex justify-content-between">
                      <div class="date meta-last"> {{post.create_date}} </div>
                      <div class="category"><a href="#">{{post.post_category}}</a></div>
                    </div>
                    <a href="{% url 'view_post' post.id post.slug %}"><h3 class="h4"> {{post.title}} </h3></a>
                    {% comment %} <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p> {% endcomment %}
                    <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                        <div class="title"><span>{{post.author.first_name}} {{post.author.last_name}}</span></div></a>
                      <div class="date"><i class="icon-clock"></i>{{post.create_date|naturaltime}}</div>
                    </footer>
                  </div>
              </div>
              {% endfor %}      
            </div>
            
                {% if posts.has_other_pages %}
                  <ul class="pagination justify-content-center pagination-sm">
                    {% if posts.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled page-item" aria-hidden="true"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in posts.paginator.page_range %}
                      {% if posts.number == i %}
                        <li class="active page-item"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li  class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled page-item"><span aria-hidden="true">&raquo;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
            
          </div>
        </main>
        <aside class="col-lg-4">
          <!-- Widget [Search Bar Widget]-->
          <div class="widget search">
            <header>
              <h3 class="h6">Search the blog</h3>
            </header>
            <form action="{% url 'search' %}" method="post" class="search-form">
            {% csrf_token %}
              <div class="form-group">
                <input type="search" name="search" placeholder="Search post">
                <button type="submit" class="submit"><i class="icon-search"></i></button>
              </div>
            </form>
          </div>
          <!-- Widget [Latest Posts Widget]        -->
          <div class="widget latest-posts">
            <header>
              <h3 class="h6">Latest Posts</h3>
            </header>
            <div class="blog-posts"><a href="#">
                {% for lp in latest_posts %}
                <div class="item d-flex align-items-center">
                  <div class="image"><img src="{{lp.post_image.url}}" alt="..." class="img-fluid"></div>
                  <div class="title">
                  <a href="{% url 'view_post' lp.id lp.slug %}"><strong>{{lp.title}}</strong></a>
                    <div class="d-flex align-items-center">
                      <div class="views"><i class="icon-eye"></i> 500</div>
                      <div class="comments"><i class="icon-comment"></i>12</div>
                    </div>
                  </div>
                </div></a><a href="#">
                {% endfor %}
                
          </div>
          <!-- Widget [Categories Widget]-->
          <div class="widget categories">
            <header>
              <h3 class="h6">Categories</h3>
            </header>
            {% for category in categories %}
              <div class="item d-flex"><a href="{% url 'category' category.id %}">{{category.category}}</a></div>
            {% endfor %}
          </div>
        </aside>
      </div>
{% endblock %}
{% block footer %}
{% include 'incs/footer.html' %}
{% endblock  %}